@import './src/styles/common.scss';

.list-item-container {
    padding:15px;
    cursor:pointer;
}

.item-title {
    margin-bottom: 1.5vw;
}

.item-label {
    float:right;
    width:20px;
    height:20px;
    border: 3px solid;
    border-radius:50%;
}

.label_red {
    border-color: $label_red;
}

.label_blue {
    border-color: $label_blue;
}

.label_green {
    border-color: $label_green;
}