
$label_blue: #00BFFF;
$label_green: #A3D900;
$label_red: #FF9999;

body {
    padding: 1em;
}

.border {
    border-radius: 10px;
    margin:5px auto;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
}

.item-label {
    float:right;
    width:20px;
    height:20px;
    border: 3px solid;
    border-radius:50%;
}

.label_red {
    border-color: $label_red;
}

.label_blue {
    border-color: $label_blue;
}

.label_green {
    border-color: $label_green;
}