@import './src/styles/common.scss';

.nav-tabs {
    padding-bottom: 2px;
    margin-bottom: 5px;
    display: flex;
}

.nav-tabs>li {
    background: #2b2929;
    color: white;
    border-radius: 20px;
    flex-grow: 1;
    margin: auto 1px;
}

.nav-tabs>li>a {
    display: block;
    padding: 7px;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.nav-tabs>li:not(.activated):hover {
    transform: scaleY(1.1);
}

.nav-tabs>li:not(.activated)>a:hover {
    transform: scale(1.5);
}

.nav-tabs {
    li.tabs_red {
        background-color: $label_red;
    }

    li.tabs_green {
        background-color: $label_green;
    }

    li.tabs_blue {
        background-color: $label_blue;
    }
    li.activated {
        border: 2px solid #2b2929;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}